In [89]:
import pandas as pd

vodka_url="http://www.efficientdrinker.com/liquor/"
vodka_data=pd.read_html(vodka_url)
vodka_df=vodka_data[0]
vodka_df=vodka_df.rename(columns={'Brand or Type':'Brand'})
vodka_df['Type']='Vodka'
vodka_df=vodka_df.drop(columns=['ABV','Efficiency','Carbs (g)'])
vodka_df.head(3)

              Brand  Calories   Type
0       Bacardi 151       183  Vodka
1  Bacardi Superior        97  Vodka
2   Bombay Sapphire       114  Vodka

In [90]:
beer_url="http://www.efficientdrinker.com/beer/complete-calories-abv/"
beer_data=pd.read_html(beer_url)
beer_df=beer_data[0]
beer_df['Type']='Beer'
beer_df=beer_df.drop(columns=['ABV','Efficiency'])
beer_df.head(5)

               Brand  Calories  Type
0        Abita Amber       128  Beer
1       Abita Golden       125  Beer
2  Abita Jockamo IPA       190  Beer
3        Abita Light       118  Beer
4  Abita Purple Haze       128  Beer

In [91]:
malt_url="http://www.efficientdrinker.com/wine/malternatives/"
malt_data=pd.read_html(malt_url)
malt_df=malt_data[0]
malt_df['Type']='Malt'
malt_df=malt_df.drop(columns=['ABV','Efficiency'])
malt_df.head(5)

                                  Brand  Calories  Type
0              Truly Spiked & Sparkling       100  Malt
1  Henry's Hard Sparkling Passion Fruit        92  Malt
2     Henry's Hard Sparkling Lemon Lime        93  Malt
3                  Spiked Seltzer Water       140  Malt
4            Mike's Light Hard Lemonade        98  Malt

In [92]:
alc_df=pd.concat([malt_df,beer_df,vodka_df])
alc_df.sample(5)

                     Brand  Calories  Type
11   Bacardi Silver Mojito       229  Malt
255  Weinhard's Hefeweizen       151  Beer
208          Sam Adams IPA       175  Beer
169  Olympia Premium Lager       146  Beer
12       Mike's Hard Berry       230  Malt