In [2]:
import pandas as pd

vodka_url="http://www.efficientdrinker.com/liquor/"
vodka_data=pd.read_html(vodka_url)
vodka_df=vodka_data[0]
vodka_df=vodka_df.rename(columns={'Brand or Type':'Brand'})
vodka_df['Type']='Vodka'
vodka_df=vodka_df.drop(columns=['ABV','Efficiency','Carbs (g)'])
vodka_df.head(3)

              Brand  Calories   Type
0       Bacardi 151       183  Vodka
1  Bacardi Superior        97  Vodka
2   Bombay Sapphire       114  Vodka

In [3]:
beer_url="http://www.efficientdrinker.com/beer/complete-calories-abv/"
beer_data=pd.read_html(beer_url)
beer_df=beer_data[0]
beer_df['Type']='Beer'
beer_df=beer_df.drop(columns=['ABV','Efficiency'])
beer_df.head(5)

               Brand  Calories  Type
0        Abita Amber       128  Beer
1       Abita Golden       125  Beer
2  Abita Jockamo IPA       190  Beer
3        Abita Light       118  Beer
4  Abita Purple Haze       128  Beer

In [4]:
malt_url="http://www.efficientdrinker.com/wine/malternatives/"
malt_data=pd.read_html(malt_url)
malt_df=malt_data[0]
malt_df['Type']='Malt'
malt_df=malt_df.drop(columns=['ABV','Efficiency'])
malt_df.head(5)

                                  Brand  Calories  Type
0              Truly Spiked & Sparkling       100  Malt
1  Henry's Hard Sparkling Passion Fruit        92  Malt
2     Henry's Hard Sparkling Lemon Lime        93  Malt
3                  Spiked Seltzer Water       140  Malt
4            Mike's Light Hard Lemonade        98  Malt

In [5]:
alc_df=pd.concat([malt_df,beer_df,vodka_df])
alc_df.sample(5)

alc_df=alc_df.reset_index()
alc_df.tail(10)

     index                 Brand  Calories   Type
314     23              Fireball       108  Vodka
315     24            Triple Sec       162  Vodka
316     25      Vermouth (Sweet)        60  Vodka
317     26               Sambuca       163  Vodka
318     27        Peach Schnaaps        95  Vodka
319     28          Jagermeister       150  Vodka
320     29  Bailey's Irish Creme        86  Vodka
321     30                Kahlua       131  Vodka
322     31              Amaretto       170  Vodka
323     32              Chambord        95  Vodka

In [6]:
kind='Beer'
name='Schlitz Light'
def lower_cal(kind,name):
    indi=alc_df[alc_df['Brand']==name].index.item()
    num_cals=alc_df.get_value(indi,'Calories')

    suggest_lowcal=alc_df[ (alc_df["Type"]==kind) & (alc_df["Calories"]<num_cals)]
    suggestions=suggest_lowcal.sample(5)
    
    return suggestions

lower_cal("Vodka","Fireball")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

     index                     Brand  Calories   Type
318     27            Peach Schnaaps        95  Vodka
311     20      Vermouth (Extra Dry)        38  Vodka
306     15  Tanqueray London Dry Gin       100  Vodka
299      8              Jack Daniels        97  Vodka
316     25          Vermouth (Sweet)        60  Vodka